
textarea {
    width: 100%;
    min-height: 450px;
}

pre {
    width: 100%;
    min-height: 450px;
}

.input-group-text {
    color: #d2d2d2;
    border-color: #383d3f;
    border-right: none;
}

.form-control {
    color: #d2d2d2;
    background-color: #1c1e1f;
    border-color: #383d3f;
}

.form-control:focus {
    color: #d2d2d2;
    background-color: #1c1e1f;
    border-color: #383d3f;
}

.form-control:disabled {
    color: #d2d2d2;
    background-color: #1c1e1f;
    border-color: #383d3f;
}

.modal-backdrop {
    background-color: transparent;
}

.alert-custom {
    background: rgba(147, 49, 49, 0.1);
}
